
/*#footer {
  visibility: hidden; 
  margin-top: 5px;
}*/




.full-page-image img:first-child {
  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  /*margin: none;*/
  padding: 0;
  width: auto;
  /* Set the height dynamically depending on the image's current width, keeping the aspect ratio */
  height: 738px;
}

.full-page-image img.cc {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

.full-page-image p {
  margin: 0 0 0 0;
}

.full-page-image p:not(:first-child),
.full-page-image h1,
.full-page-image h2 {
  z-index: 1;
  background-image: url('white.png');
  background-position: top left;
}

/* Image source box  */
.full-page-image p:not(:first-child) {
  position: relative;
  opacity: .6;
  top: -3em;
  padding: 0.4em 0.9em 0.4em 0.9em;
  color: dark-grey;
  font-size: 1em;
  float: right;
}

.full-page-image h1 {
  position: absolute;
  top: 1em;
  left: 0px;
  width: 100%;
  padding: 0.3em 0 0.2em 0;
  text-transform: uppercase;
}

.full-page-image h2 {
  position: absolute;
  top: 4em;
  left: 0px;
  width: 100%;
  padding: 0.1em 0 0.3em 0;
}